:root {
  --teal: #53d3d1;
  --amber: #feb249;
  --blue: #002447;
  --grey: #f3f4f6;
  --white: #ffffff;
}
  
* {
  font-family: "Montserrat", serif;
}

.tk-bg-teal {
  background-color: var(--teal);
}

.tk-bg-amber {
  background-color: var(--amber);
}

.tk-text-teal {
  color: var(--teal);
}

.tk-text-amber {
  color: var(--amber);
}

.tk-text-blue {
  color: var(--blue);
}